<a href="https://colab.research.google.com/github/nak4hara/Complete-Python-3-Bootcamp/blob/master/python_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
hungry = False

if hungry:
  print("Feed me!")
else:
  print("I'm full")

I'm full

In [ ]:
loc = 'Game'

if loc == 'Auto Shop':
  print("Cars are cool!")
elif loc == 'Bank':
  print('Money is cool!')
else:
  print("I do not know much")

I do not know much

In [23]:
### FOR ###

mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for num in mylist:
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [9]:
for num in mylist:
  # Check for even
  if num % 2 == 0:
    print(num)
  else:
    print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [10]:
list_sum = 0

for num in mylist:
  list_sum += num

print(list_sum)

55

In [13]:
for _ in 'Hello World':
  print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [20]:
mynewlist = [(1,2),(3,4),(5,6),(7,8)]

for a,b in mynewlist:
  print(b)
  
# tuple unpacking

2
4
6
8

In [21]:
d = {'k1':1, 'k2':2, 'k3':3}

In [22]:
for key,value in d.items():
  print(value)

1
2
3

In [ ]:
### WHILE LOOP ###

In [27]:
x = 0

while x < 5:
  print(f'the current value of x is {x}')
  x += 1
else:
  print("X IS NOT LESS THAN 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X IS NOT LESS THAN 5

In [29]:
x = [1,2.3]

for item in x:
  pass
  #do nothing
print('end of my script')

end of my script

In [32]:
mystring = 'Sammy'

for letter in mystring:
  if letter == 'a':
    continue
    #break
  print(letter)

S
m
m
y

In [36]:
x = 0

while x<5:
  if x==2:
    break
  print(x)
  x+=1

0
1